* {
    scroll-behavior: smooth;
}

.fondu-out {
    opacity: 0;
    z-index: 0;
    display: none;
    transition: all .8s ease;
}

#loader-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    inset: 0;
    z-index: 9999;
    background-color: #030711;
    display: grid;
    gap: 10px;
    place-content: center;
}

.loader-text {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    animation: fadeIn .8s;
    text-shadow: 3px -1px 1px #053A4A;
}

.loader-text img {
    object-fit: cover;
}

#loader-box span {
    border-radius: 100px;
    height: 15px;
    width: 50px;
    background-color: #fff;
    animation: fill .8s linear alternate infinite;
}

@keyframes fill {
    to {
        background-color: #053A4A;
    }
}


#loader-box :nth-child(1) {
    animation-delay: .2s;
}
#loader-box :nth-child(2) {
    animation-delay: .4s;
}
#loader-box :nth-child(3) {
    animation-delay: .6s;
}
#loader-box :nth-child(4) {
    animation-delay: .8s;
}
#loader-box :nth-child(5) {
    animation-delay: 1s;
}


.loader {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    animation: fadeIn .8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.burger-menu {
    display: none;
    padding: 5px;
    gap: 5px;
}

.burger-menu span {
    height: 3px;
    width: 40px;
    background-color: #000;
}

#default-navbar {
    background-color: #fff;
    z-index: 999;
}

#default-navbar,
.mobile-navbar {
    opacity: 1;
    scale: 1;
    transition: all .5s;
    transition-behavior: allow-discrete;
}

.mobile-navbar {
    transition: .5s all;
    opacity: 1;
    transition-behavior: allow-discrete;
    position: sticky;
    z-index: 999;
    top: 0;
    display: none;
    width: 100%;
    background-color: #053A4A;
    animation-name: fadeIn;
}

.mobile-navbar div,
.mobile-navbar p {
    width: 100%;
}

.mobile-navbar a {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    transition: .5s background-color;
}

#rdv {
    background: #9D8C47;
}

.mobile-navbar a:hover {
    background-color: #9D8C47;
}

.mobile-links {
    gap: 10px;
    text-align: center;
    display: grid;
}

.mobile-navbar p {
    text-align: center;
}

.close-btn-div {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.close-btn-div button {
    color: #fff;
    min-height: 30px;
    min-width: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9D8C47;
}

#links a,
.mobile a {
    padding: 8px;
    color: #053A4A;
    font-size: 15px;
    border-radius: 6px;
    transition: color .5s, background-color .5s;
}

.contact a {
    font-size: 15px;
}


#links a:hover {
    color: #fff;
    background-color: #053A4A;
}

.is-active {
    padding: 8px;
    border-radius: 6px;
    color: #fff !important;
    background-color: #053A4A;
}

section div h3 {
    margin-top: 15px;
    font-size: 25px;
}

#hero-section {
    padding-top: 20px;
    background: url("/public/assets/background.jpg") center top;
    background-size: cover;
    height: 800px;
    width: 100%;
}

#circle {
    margin: 190px 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    border-radius: 100%;
    align-items: center;
    height: 500px;
    width: 500px;
    background: #9D8C47;
    filter: drop-shadow(4px 6px 21px #bcbcbc);
    transition: all .5s;
}

#circle a {
    background-color: #053A4A!important;
    transition: all .5s;
}

#circle:hover {
    background-color: #053A4A;

    & a {
        background-color: #9D8C47!important;
    }
}

#circle p {
    margin-top: 10px;
}

#section-2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-around;
}

#mini-circle {
    margin: 10px 0;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #053A4A;
}

.box {
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 1px 1px #bcbcbc;
    margin: 10px 0;
    width: 40%;
}

.box h3 {
    font-weight: bold;
    color: #053A4A;
    margin: 10px 0;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #053A4A;
}

.section-2 .card-container {
    padding: 20px 0;
    background: #1B356A;
    margin: 20px 5px 10px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.section-2 .card {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    overflow: hidden;
    height: auto;


    &.card .title {
        margin: 5px 0;
        text-align: center;
        color: #000;
        font-weight: 600;
    }

    .card-content {
        /* padding: 5px; */
        width: 100%;
    }

    .card-content img {
        border-radius: 5px;
    }

    .card-content p {
        text-align: justify;
        padding: 5px;
        max-height: 155px;
        overflow: hidden;
    }

    .button-box {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .button-box button {
        border: none;
        font-weight: bold;
        background-color: #9D8C47;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        border-radius: 5px;
        transition: color .5s, background-color .5s;
    }

    .button-box button:hover {
        color: #fff;
        background-color: #053A4A;
    }

}

#section-3 {
    margin: 40px p;
}

#section-3 .card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 45px;
}


#section-3 .card-2 {
    box-shadow: 0px -2px 2px #bcbcbc;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    width: 200px;

}

.card-2 .header {
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}



footer {
    text-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}


@media screen and (max-width: 700px) {
    #hero-section {
        display: grid;
        place-content: center;
    }

    #circle {
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 820px) {
    #section-2 {
        display: grid;
        flex-wrap: wrap;
        background-color: whitesmoke;
        justify-content: space-around;
        justify-items: center;
    }

    .box {
        width: 100%;
    }
}


@media screen and (max-width: 800px) {

    #links,
    .contact {
        display: none;
    }

    .burger-menu {
        display: grid;
    }

    #circle {
        filter: drop-shadow(0 0 0);
    }

}